apiVersion: certmanager.k8s.io/v1alpha1
kind: Certificate
metadata:
  name: {{ ingress_secret_name }}
  namespace: ingress-nginx
spec:
  secretName: {{ ingress_secret_name }}
  issuerRef:
    name: letsencrypt-staging
    kind: ClusterIssuer
  commonName: "*.{{ traefik_domain_name.split('.')[-2] }}.{{ traefik_domain_name.split('.')[-1] }}"
