apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
        errors
        health
{% if (coredns_version.split('.')[0]|int + coredns_version.split('.')[1]|int/10)|float >= 1.5 %}
        ready
{% endif %}
        kubernetes {{ cluster_domain_name }} in-addr.arpa ip6.arpa {
          pods insecure
{% if (coredns_version.split('.')[0]|int + coredns_version.split('.')[1]|int/10)|float < 1.5 %}
          upstream
{% endif %}
          fallthrough in-addr.arpa ip6.arpa
        }
        prometheus :9153
{% if (coredns_version.split('.')[0]|int + coredns_version.split('.')[1]|int/10)|float < 1.5 %}
        proxy . /etc/resolv.conf
{% else %}
        forward . /etc/resolv.conf
{% endif %}
        cache 30
        loop
        reload
        loadbalance
    }
