apiVersion: v1
kind: Secret
metadata:
  labels:
    k8s-app: kubernetes-dashboard
  name: kubernetes-dashboard-certs
  namespace: kube-system
type: Opaque
---
apiVersion: certmanager.k8s.io/v1alpha1
kind: Certificate
metadata:
  name: {{ dashboard_ingress_secret_name }}
  namespace: kube-system
spec:
  secretName: {{ dashboard_ingress_secret_name }}
  issuerRef:
    name: letsencrypt-staging
    kind: ClusterIssuer
  commonName: "*.{{ dashboard_domain_name.split('.')[-2] }}.{{ dashboard_domain_name.split('.')[-1] }}"
