apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: traefik-web-ui
  namespace: traefik
  annotations:
      kubernetes.io/ingress.class: traefik
spec:
  tls:
    - secretName: {{ ingress_secret_name }}
  rules:
  - host: {{ traefik_domain_name }}
    http:
      paths:
      - path: /
        backend:
          serviceName: traefik-dashboard
          servicePort: 8080
