apiVersion: v1
kind: Service
metadata:
  name: kibana-logging
  namespace: kube-system
  labels:
    k8s-app: kibana-logging
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  {% if kibana_lb_address != '' -%}
  type: LoadBalancer
  loadBalancerIP: {{ kibana_lb_address }}
  {% endif -%}
  ports:
  - port: 5601
    protocol: TCP
    targetPort: ui
  selector:
    k8s-app: kibana-logging
