apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kibana-ing
  namespace: kube-system
  annotations:
    ingress.kubernetes.io/whitelist-source-range: 10.177.0.0/16 # change this range to admin IPs
    ingress.kubernetes.io/rewrite-target: "/"
spec:
  tls:
  - secretName: ""
  rules:
  - host: {{ kibana_domain_name }}
    http:
      paths:
      - backend:
          serviceName: kibana-logging
          servicePort: 3000
