---
apiVersion: v1
kind: Endpoints
metadata:
  labels:
    k8s-app: kubelet
  name: kubelet
  namespace: kube-system
subsets:
- addresses:
{% for host in groups['nodes'] %}
{% if host not in groups['delete-nodes'] %}
  - ip: {{ hostvars[host]['ansible_' + iface].ipv4.address }}
    targetRef:
      kind: Node
      name: {{ hostvars[host].ansible_hostname }}
{% endif %}
{% endfor %}
{% for host in groups['add-nodes'] %}
{% if groups['add-nodes'] | length > 0 and host not in groups['delete-nodes']  %}
  - ip: {{ hostvars[host]['ansible_' + iface].ipv4.address }}
    targetRef:
      kind: Node
      name: {{ hostvars[host].ansible_hostname }}
{% endif %}
{% endfor %}
  ports:
  - name: http-metrics
    port: {{ kubelet_bind_read_port }}
    protocol: TCP
  - name: cadvisor
    port: 4194
    protocol: TCP
  - name: https-metrics
    port: 10250
    protocol: TCP
